{
  parser: "babel-eslint",
  extends: ["standard-react"],
  plugins: ["flowtype", "jest"],
  rules: {
    "no-debugger": 0,
    "no-unreachable":2,
    "semi": 1,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "comma-dangle": ["error", "always-multiline"],
  },
  env: {
    "jest/globals": true,
  },
  globals: {
    artifacts: true,
    contract: true,
    assert: true,
    cy: true,
    context: true,
    Cypress: true,
    document: true,
    window: true,
    alert: true
  },
}